@import "datepicker";

.scheduler {
  margin: 15px auto;
  width: 470px;
  -webkit-user-select: none;
  -moz-user-select: moz-none;
  user-select: none;
  .alert {
    font-size: 9.25pt;
  }
  .datepickers > div {
    display: inline-block;
  }
  .day {
    &.disabled.selected {
      text-decoration: line-through;
    }
    &.drag, &.drag:hover {
      background: #9cf;
    }
    &.active.new, &.active.old {
      .buttonBackground(fadeout(@btnPrimaryBackground, 70%), fadeout(spin(@btnPrimaryBackground, 20), 60%));
      color: #ccc;
    }
  }
  .hours {
    padding: 3px;
    .hour {
      padding: 3px;
      text-align: center;
      .border-radius(4px);
      border: none;
      &:hover {
        background: @grayLighter;
        cursor: pointer;
      }
      &.active,
      &.active:hover {
        .buttonBackground(@btnPrimaryBackground, spin(@btnPrimaryBackground, 20));
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
      }
      &.drag, &.drag:hover {
        background: #9cf;
      }
    }
  }
  .actions .btn {
    margin: 10px 5px;
  }
  ul.date-list {
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
    overflow-y: auto;
    max-height: 150px;
    list-style: disc inside;
    margin-left: 5px;
  }
}
