@import "datepicker";

.scheduler {
  margin: 15px auto;
  width: 500px;
  .datepickers {
    -webkit-user-select: none;
    -moz-user-select: moz-none;
    user-select: none;
    > div {
      display: inline-block;
    }
  }
  .day {
    &.used {
      text-decoration: line-through;
    }
    &.drag, &.drag:hover {
      background: #9cf;
    }
  }
}
