@import "datepicker";

.scheduler {
  margin: 15px auto;
  width: 500px;
  .datepickers {
    -webkit-user-select: none;
    -moz-user-select: moz-none;
    user-select: none;
    > div {
      display: inline-block;
    }
  }
  .day {
    &.disabled.selected {
      text-decoration: line-through;
    }
    &.drag, &.drag:hover {
      background: #9cf;
    }
    &.active.new, &.active.old {
      .buttonBackground(fadeout(@btnPrimaryBackground, 70%), fadeout(spin(@btnPrimaryBackground, 20), 60%));
      color: #ccc;
    }
  }
  }
}
